<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsWebServicesTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsWebServicesTest.Properties.Settings.ConnectionS2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aria\source\repos\WindowsFormsWebServicesTest\WindowsFormsWebServicesTest\DatabaseWebserviceMarchmdf.mdf;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1March7Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1March7Soap1" />
                <binding name="WebService1March7Soap2">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1March7Soap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44364/WebService1March7.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1March7Soap"
                contract="ServiceReferenceWebServiceTest.WebService1March7Soap"
                name="WebService1March7Soap" />
            <endpoint address="https://localhost:44364/WebService1March7.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1March7Soap2"
                contract="ServiceReference1Second.WebService1March7Soap" name="WebService1March7Soap1" />
        </client>
    </system.serviceModel>
    <userSettings>
        <WindowsFormsWebServicesTest.Properties.Settings>
            <setting name="MyConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aria\source\repos\WindowsFormsWebServicesTest\WindowsFormsWebServicesTest\DatabaseWebserviceMarchmdf.mdf;Integrated Security=True</value>
            </setting>
        </WindowsFormsWebServicesTest.Properties.Settings>
    </userSettings>
</configuration>